@mixin wrapper-defaults {
  width: 100%;
  padding: 0 3rem;

  @include breakpoint(sm) {
    padding: 0 2rem;
  }
}
.container {
  max-width: 170rem;
  margin: 0 auto;

  @include wrapper-defaults();
}

.container-fluid {
  max-width: 100%;

  @include wrapper-defaults();
}
