.section-grey {
  background-color: var(--light-grey);
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 var(--gap);
}

.container .container {
  max-width: 100%;
  padding: 0;
}

.row,
.row-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: var(--gap);
  grid-auto-rows: minmax(100px, auto);
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 10;
}

.col-11 {
  grid-column: span 11;
}

.col-12 {
  grid-column: span 12;
}

.row-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col-1-of-12 {
  flex: 1 1 8.33%;
}

.col-1-of-6 {
  flex: 1 1 16.66%;
}

.col-1-of-4 {
  flex: 1 1 25%;
}

.col-1-of-3 {
  flex: 1 1 33.33%;
}

.col-1-of-2 {
  flex: 1 1 50%;
}

.col-11-of-12 {
  flex: 1 1 91.66%;
}

.col-5-of-6 {
  flex: 1 1 83.33%;
}

.col-3-of-4 {
  flex: 1 1 75%;
}

.col-2-of-3 {
  flex: 1 1 66.66%;
}
