.margin-y {
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}

.margin-y-sm {
  margin-top: var(--margin-sm);
  margin-bottom: var(--margin-sm);
}

.margin-x {
  margin-left: var(--margin);
  margin-right: var(--margin);
}

.margin {
  margin: var(--margin);
}

.margin-bottom {
  margin-bottom: var(--margin);
}
.margin-bottom-sm {
  margin-bottom: var(--margin-sm);
}

.margin-top {
  margin-top: var(--margin);
}

.margin-top-sm {
  margin-top: var(--margin-sm);
}