@use 'sass:map';
@import 'material-icons/iconfont/material-icons.css';

@mixin button($type: 'solid', $color-role: 'primary') {
  cursor: pointer;
  padding: 0.7rem 2.4rem;
  min-width: 17.8rem;
  border-radius: 5rem;
  // border: unset;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: unset;
  background-color: unset;
  // border: 0.1rem solid $color;
  border-width: 0.1rem;
  border-style: solid;

  @include font-label('md', 400);

  // $color: var(--color-#{$name}-contrast);
  // $on-color: var(--color-#{$name}-contrast-on);

  @if $type == 'solid' {
    background-color: var(--color-#{$color-role}-contrast);
    border-color: var(--color-#{$color-role}-contrast);
    color: var(--color-#{$color-role}-contrast-on);
  } @else if $type == 'outlined' {
    background-color: transparent;
    border-color: currentColor;
    color: var(--color-#{$color-role}-contrast);
  } @else if $type == 'text' {
    color: var(--color-#{$color-role}-contrast);
    border: none;
    padding: 0;
  } @else if $type == 'tonal' {
    background-color: var(--color-#{$color-role}-container);
    color: var(--color-#{$color-role}-container-on);
    border-color: var(--color-#{$color-role}-container);
  } @else if $type == 'fancy' {
    background-color: #9D482F;
    color:white;
    border-color: #9D482F;
    border-radius: 20px;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.button-solid {
  @include button('solid');
  @each $name, $props in $component-colors {
    &--#{$name} {
      @include button('solid', $name);
    }
  }
}

.button-outlined {
  @include button('outlined');

  @each $name, $props in $component-colors {
    &--#{$name} {
      @include button('outlined', $name);
    }
  }
}

.button-text {
  @include button('text');

  @each $name, $props in $component-colors {
    &--#{$name} {
      @include button('text', $name);
    }
  }
}

.button-tonal {
  @include button('tonal');

  @each $name, $props in $component-colors {
    &--#{$name} {
      @include button('tonal', $name);
    }
  }

  
}

.button-fancy{
  @include button('fancy');
  
  @each $name, $props in $component-colors {
    &--#{$name} {
      @include button('fancy', $name);
    }
  }
}

.button-solid-queue{
  height: 4rem;
  width: 114px;
  justify-content: center;
  align-items: center;
  background: var(--color-success-contrast);
  color: var(--color-success-contrast-on);
  @include font-label('md', 400);
  text-decoration: unset;

  border-radius: 0.5rem;
  border-width: 0.5px;
  border-style: solid;
}