.buttons-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  row-gap: 5rem;

  margin-top: 5rem;
}
.font-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer {
  min-height: 8rem;
  /* background-image: linear-gradient(90deg, var(--cherry) 0%, var(--coral) 100%); */
  background-color: var(--cherry);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  margin-top: var(--margin);
}
