services:
  ####################################
  # React Client
  ####################################
  client:
    build:
      context: .
    volumes:
      - ./src:/app/src
      - ./.env.network:/app/.env.network
      - ./vite.config.ts:/app/vite.config.ts
      
      - client-dist-jbx:/app/dist
      
    ports:
      - 3000:3000
    command: npm run network
      
  ####################################
  # Server & Network Config
  ####################################
  server:
    restart: always
    image: ikehunter5/jukebox-server:latest
    container_name: server-jbx-fe
    environment:
      - NODE_ENV=network
      - PORT=9000
      - HOST=localhost
      - LOG_LEVEL=debug
      - BASE_URL=http://localhost:8080
      
      - JWT_SECRET_KEY=changeme
      - TOKEN_HEADER_KEY=Authorization
      
      - MONGO_URI=mongodb://root:changeme@mongo-network-jbx-fe:27017
      - KAFKA_BROKERS=kafka-jbx-fe:9092
      
      - SPOTIFY_CLIENT_ID=${SPOTIFY_CLIENT_ID}
      - SPOTIFY_CLIENT_SECRET=${SPOTIFY_CLIENT_SECRET}
      - SPOTIFY_REDIRECT_URI=http://localhost:8000/api/spotify/login-callback/
    ports:
      - 9000:9000
    depends_on:
      - mongodb
      - kafka
    networks:
      - cluster
    command: npm run dev:server

  proxy:
    image: ikehunter5/jukebox-proxy:latest
    ports:
      - 8080:8080
    networks:
      - cluster
    depends_on:
      - server
    volumes:
      - client-dist-jbx:/vol/client
    environment:
      - SERVER_URI=server-jbx-fe:9000
      - WEBSOCKET_URI=websocket-jbx-fe:9001
    attach: false

  mongodb:
    image: mongo:6.0.9
    restart: always
    container_name: mongo-network-jbx-fe
    ports:
      - 27017:27017
    volumes:
      - mongo-data-fe:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=changeme
    command: mongod --quiet --logpath /dev/null --bind_ip_all
    networks:
      - cluster
  
  ####################################
  # Kafka Config
  ####################################
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper-jbx-fe
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 2181:2181
    networks:
      - cluster
    attach: false

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka-jbx-fe
    depends_on:
      - zookeeper
    ports:
      - 9092:9092
      - 29092:29092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper-jbx-fe:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: true
    networks:
      - cluster
    attach: false
  
  ####################################
  # Web Socket Config
  ####################################
  websocket:
    image: ikehunter5/jukebox-websocket:latest
    restart: always
    ports:
      - 9001:9001
    container_name: websocket-jbx-fe
    environment:
      - HOST=0.0.0.0
      - PORT=9001
      - NODE_ENV=network
      - LOG_LEVEL=debug
      - LOG_NS=websocket
      
      - KAFKA_BROKERS=kafka-jbx-fe:9092
      - KAFKA_GROUP_ID=websocket-jbx
    command: npm run dev:websocket
    networks:
      - cluster

volumes:
  client-dist-jbx:
    name: client-dist-jbx
  mongo-data-fe:

networks:
  cluster:
    name: jukebox_cluster
    driver: bridge
