# Vite variables
VITE_NETWORK_URL="http://localhost:8080"

# Network variables
SPOTIFY_CLIENT_ID=some-long-string
SPOTIFY_CLIENT_SECRET=another-very-long-string
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASS=changeme