# Vite variables
VITE_JUKEBOX_URL="http://localhost:8082"
VITE_CLUBS_URL="http://localhost:8080"

# Jukebox Server Variables
SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""

# Club Portal Variables
PORT=9000

DJANGO_SUPERUSER_EMAIL="admin@example.com"
DJANGO_SUPERUSER_PASS="changeme"
DJANGO_CREATE_SUPERUSER=1

DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS="*"
DJANGO_BASE_URL="http://localhost:8080"
DJANGO_CONSOLE_EMAIL_BACKEND=1
DJANGO_DEFAULT_FROM_EMAIL="admin@example.com"

CSRF_TRUSTED_ORIGINS="http://localhost:8080,http://localhost:8081"

DJANGO_CELERY_ENABLED=0

POSTGRES_HOST="postgres-clubs"
POSTGRES_PORT=5432
POSTGRES_DB="devdatabase"
POSTGRES_NAME="devdatabase"
POSTGRES_USER="devuser"
POSTGRES_PASSWORD="devpass"

SENDGRID_API_KEY=""

AWS_EXECUTION_ENV=0
S3_STORAGE_BACKEND=0

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
