.audio-controls {
  // --controls-fill: var(--range-accent);
  $controls-fill: var(--controls-fill);

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__icon {
    background-color: inherit;
    color: $controls-fill;

    width: 3.7rem;
  }
}
