.flip-clock-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85%;
}

.flip-clock {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 400px;
  border-radius: 10px;

  background-color: var(--color-surface-accent);
  color: var(--color-surface-accent-on);

  font-family: Termina;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.54px;

  width: 657px;
  height: 257px;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

time {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.flip-clock__colon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  vertical-align: middle;
  padding-bottom: 15px;
}

.flip-clock__piece {
  padding-top: 30px;
  display: inline-block;
  margin: 0 5px;
}

$halfHeight: 0.72em;
$borderRadius: 0.15em;

.card {
  display: block;
  position: relative;
  padding-bottom: $halfHeight;
  font-size: 3vw;
  line-height: 0.95;
}

.card__top,
.card__bottom,
.card__back::before,
.card__back::after {
  display: block;
  height: $halfHeight;
  color: #ccc;
  background: #295258;
  padding: 0.25em 0.25em;
  border-radius: $borderRadius $borderRadius 0 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  width: 1.5em;
  transform: translateZ(0);
}

.card__bottom {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  border-top: solid 1px #fff;
  background: #295258;
  border-radius: 0 0 $borderRadius $borderRadius;
  pointer-events: none;
  overflow: hidden;
}

.card__bottom::after {
  display: block;
  margin-top: -$halfHeight;
}

.card__back::before,
.card__bottom::after {
  content: attr(data-value);
}

.card__back {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0%;
  pointer-events: none;
}

.card__back::before {
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.flip .card__back::before {
  animation: flipTop 0.3s cubic-bezier(0.37, 0.01, 0.94, 0.35);
  animation-fill-mode: both;
  transform-origin: center bottom;
}

.flip .card__back .card__bottom {
  transform-origin: center top;
  animation-fill-mode: both;
  animation: flipBottom 0.6s cubic-bezier(0.15, 0.45, 0.28, 1); // 0.3s;
}

@keyframes flipTop {
  0% {
    transform: rotateX(0deg);
    z-index: 2;
  }
  0%,
  99% {
    opacity: 0.99;
  }
  100% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
}

@keyframes flipBottom {
  0%,
  50% {
    z-index: -1;
    transform: rotateX(90deg);
    opacity: 0;
  }
  51% {
    opacity: 0.99;
  }
  100% {
    opacity: 0.99;
    transform: rotateX(0deg);
    z-index: 5;
  }
}
