:root {
  --p0: hsla(0, 0%, 0%, 1);
  --p5: hsla(14, 54%, 5%, 1);
  --p10: hsla(14, 54%, 10%, 1);
  --p15: hsla(14, 54%, 15%, 1);
  --p20: hsla(14, 54%, 20%, 1);
  --p30: hsla(14, 54%, 30%, 1);
  --p40: hsla(14, 54%, 40%, 1);
  --p50: hsla(14, 54%, 50%, 1);
  --p55: hsla(14, 54%, 55%, 1);
  --p60: hsla(14, 54%, 60%, 1);
  --p70: hsla(14, 54%, 70%, 1);
  --p80: hsla(14, 54%, 80%, 1);
  --p90: hsla(14, 54%, 90%, 1);
  --p90: hsla(14, 54%, 95%, 1);
  --p100: hsla(0, 0%, 100%, 1);
  
  --s0: hsla(0, 0%, 0%, 1);
  --s5: hsla(186, 37%, 5%, 1);
  --s10: hsla(186, 37%, 10%, 1);
  --s15: hsla(186, 37%, 15%, 1);
  --s20: hsla(186, 37%, 20%, 1);
  --s25: hsla(186, 37%, 25%, 1);
  --s30: hsla(186, 37%, 30%, 1);
  --s40: hsla(186, 37%, 40%, 1);
  --s50: hsla(186, 37%, 50%, 1);
  --s60: hsla(186, 37%, 60%, 1);
  --s70: hsla(186, 37%, 70%, 1);
  --s80: hsla(186, 37%, 80%, 1);
  --s90: hsla(186, 37%, 90%, 1);
  --s95: hsla(186, 37%, 95%, 1);
  --s100: hsla(0, 0%, 100%, 1);
  
  --t0: hsla(0, 0%, 0%, 1);
  --t5: hsla(54, 70%, 5%, 1);
  --t10: hsla(54, 70%, 10%, 1);
  --t15: hsla(54, 70%, 15%, 1);
  --t20: hsla(54, 70%, 20%, 1);
  --t25: hsla(54, 70%, 25%, 1);
  --t30: hsla(54, 70%, 30%, 1);
  --t40: hsla(54, 70%, 40%, 1);
  --t40: hsla(54, 70%, 45%, 1);
  --t50: hsla(54, 70%, 50%, 1);
  --t55: hsla(54, 70%, 55%, 1);
  --t60: hsla(54, 70%, 60%, 1);
  --t70: hsla(54, 70%, 70%, 1);
  --t80: hsla(54, 70%, 80%, 1);
  --t90: hsla(54, 70%, 90%, 1);
  --t95: hsla(54, 70%, 95%, 1);
  --t100: hsla(0, 0%, 100%, 1);
  
  --e0: #000;
  --e10: #000;
  --e20: #000;
  --e30: #000;
  --e40: #000;
  --e50: #000;
  --e60: #000;
  --e70: #000;
  --e80: #000;
  --e90: #000;
  --e100: #000;
  
  --c0: #000;
  --c10: #000;
  --c20: #000;
  --c30: #000;
  --c40: #000;
  --c50: #000;
  --c60: #000;
  --c70: #000;
  --c80: #000;
  --c90: #000;
  --c100: #000;
  
  --g0: #000;
  --g10: #000;
  --g20: #000;
  --g30: #000;
  --g40: #000;
  --g50: #000;
  --g60: #000;
  --g70: #000;
  --g80: #000;
  --g90: #000;
  --g100: #000;
  
  --n0: #000;
  --n10: #000;
  --n20: #000;
  --n30: #000;
  --n40: #000;
  --n50: #000;
  --n60: #000;
  --n70: #000;
  --n80: #000;
  --n90: #000;
  --n100: #000;
  
  
  
  
}