$size: 4rem;

.topbar {
  --dashboard-gutter: 1rem;

  background-color: var(--color-surface-container);
  position: relative;
  width: 100%;
  height: 7vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  padding-right: 1.1rem;

  padding: var(--dashboard-gutter);

  @media (max-width: 375px) {
    padding: 0 0.1rem;
  }

  &__nav-toggle {
    position: relative;
    display: none;
    
    @include breakpoint('lg') {
      display: block;
    }

    #nav-toggle {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
    }

    &__button__icon {
      position: relative;
      margin-top: 50%;
      transform: translate(0, -50%);

      &,
      &::before,
      &::after {
        width: 3rem;
        height: 2px;
        background-color: white;
        display: inline-block;
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        transition: all 0.2s;
      }
      &::before {
        top: -0.8rem;
      }
      &::after {
        top: 0.8rem;
      }
    }
  }

  &__group-dropdown {
    --control-width: 200px; // Used in base styles form component
    display: flex;
    align-items: center;
    height: 100%;
    gap: 2rem;
    
    &__jukebox {
      display: flex;
      gap: 1rem;
    }
    
    select {
      padding: 6px;
      border-radius: 500px;
      background: inherit;
      border: 1px solid var(--color-outline-variant);
      color: #b6b1af;
      letter-spacing: 1px;
    }
  }

  &__user-details {
    display: flex;
    gap: 3rem;
    height: 100%;
  }

  &__club{
    display: flex;
    width: 10vw;
    height: 100%;
    font-family: Poppins;
    @include font-label("md", 500);

    justify-content: center;
    align-items: center;

    &__selection{
      text-decoration: underline 3px var(--color-primary);


    }


  }

  &__success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  &__notifications {
    width: 3vw;
    display: flex;
    justify-content: center;

    button {
      border: none;
      cursor: pointer;
      background-color: #dad8d7;
      border-radius: 500px;
      width: $size;
      height: $size;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    cursor: pointer;
    background-color: var(--color-surface-container);
    
    &__container{
      width: 3vw;
      display: flex;
      justify-content: center;
    }

    &:hover {
      opacity: 0.8;
    }

    img {
      width: $size;
      height: $size;
      object-fit: cover;
      border-radius: 500px;
      border: $border-thin;
    }
  }

  &__search-tracks{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%
  }
}

.search-tracks-field{
  height: 4vh;
  width: 100%;
  color: var(--color-disabled);
  background: var(--color-surface-container);
  border: 1px solid var(--color-outline);
  border-radius: 5px;
  padding: 7px 10px;

  font-family: Poppins;
  @include font-label("sm");
}

.club-selection:focus {
  outline: none;
}

.activeAux{
  width: 100%;
  height: 0.25rem;
  background: var(--color-success);
}

