.nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2vh 3.5rem;
    background-color: grey;
    position: fixed;
    min-width: 100vw;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    min-height: 10vh;
    box-shadow: none;
  }

  .relative {
    position: relative;
  }