.colors-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 6rem;
}

.color-box {
  width: 100%;
  /* height: 10rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.color-box__color {
  flex: 0 1;
  display: block;
  width: 100%;
  min-height: 15rem;
  border-radius: 0.5rem;
  aspect-ratio: 1;
}

#cherry {
  background-color: var(--cherry);
}

#coral {
  background-color: var(--coral);
}

#dark-cyan {
  background-color: var(--dark-cyan);
}

#sage {
  background-color: var(--sage);
}

#light-sky {
  background-color: var(--light-sky);
}
