.login-page {
    display: grid;
    place-content: center;
    height: 100vh;
    background-color: var(--color-surface-container);
}

.login-page__form-container {
    grid-column-start: 5;
    grid-column-end: 9;
    text-align: center;
}

.login-page__form-container > h2 {
    color: var(--color-surface-on);
    @include font-display('xs');
    padding-bottom: 4vh;
}

.login-page__form-container > p {
    color: var(--color-surface-on);
    @include font-display('xs');
    display: none;
}

.login-page__form-container > div {
    @include color-role('surface');
    padding: 2vh 3vh 5vh 3vh;
}