.hero {
  width: 100vw;
  height: 625px;
  display: flex;
}

.hero__left {
  margin-left: 100px;
  margin-right: 32px;
}

.hero h1 {
  margin-top: 87.5px;
}

.title__highlight {
  color: #E74964;
}

.title__description {
  color: #5d6578;
}

.github__container {
  margin-top: 34px;
  height: 96px;
  width: 600px;
  display: flex;
  gap: 24px;
}

.github__line {
  width: 261px;
  height: 50%;
  border-bottom: 1px solid black;
}

button {
  background: none;
  border: none;
}

.github__container button {
  font-family: 'SpaceGrotesk', sans-serif;
  font-size: 32px;
  font-weight: medium;
  letter-spacing: -0.6px;
  width: 310px;
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: white;
}

.github__container button:hover {
  color: gray;
  cursor: pointer;
}

.hero__right {
  min-width: 625px;
  background: #aeaeae;
}