.center {
  align-items: center;
  color: black;
  text-align: center;
}

.lefty {
  align-items: left;
  justify-content: space-between;
  flex-direction: row;
  align-content: left;
  text-align: left;

  display: inline-block;
}

.clock {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 20%;
  font-size: 10vh;
}

.righty {
  color: black;
  align-items: right;
  flex-direction: row;
  justify-content: flex-end;
  align-content: right;
  text-align: right;

  display: inline-block;
  width: 50%;
}

.left-inside {
  text-align: left;
  margin: auto;
}

.bold {
  font-weight: bold;
}
