.spotify-player-account {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr;
  background-color: var(--color-surface);
  height: 80px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.attribute-container {
  display: flex;
  flex-direction: row;
  gap: 5%;
  @include font-label('xs', 300);
}

.account-active-container {
  color: lightgreen;
}

.account-remove-button {
  color: red;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  // border: 0.5px solid lightgray;
  background-color: var(--color-label-variant);
  overflow: hidden;
  border: none;
  
  img {
    width: 120%;
    height: 120%;
  }
}

.profile-border-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 8px;
  border: 1px solid var(--color-outline-variant);
  width: 46px;
  height: 46px;
}


.player-account{

  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr;
  background-color: var(--color-surface);
  height: 80px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;


  &__active{
    border: 2px solid lightgreen;
  }

  &__remove{
    color: red;
  }

  &__controls{
    display: flex;
    flex-direction: row;

    &__active{
      color: grey;
      cursor: default;
    }

  }

}