@font-face {
  font-family: 'Termina';
  src: url('../fonts/TerminaTest-Black.otf') format('opentype');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Termina';
  src: url('../fonts/TerminaTest-Bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Termina';
  src: url('../fonts/TerminaTest-Demi.otf') format('opentype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Termina';
  src: url('../fonts/TerminaTest-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Termina';
  src: url('../fonts/TerminaTest-Heavy.otf') format('opentype');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Termina';
  src: url('../fonts/TerminaTest-Light.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Termina';
  src: url('../fonts/TerminaTest-Medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Termina';
  src: url('../fonts/TerminaTest-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Termina';
  src: url('../fonts/TerminaTest-Thin.otf') format('opentype');
  font-weight: 100;
  font-display: swap;
}