.header {
    font-family: Chango;
    font-size: 3vh;
    margin-top: 6vh;
    margin-bottom: 5vh;
}

.Board {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boardImage {
    width: 100%;
    height: auto;
}