.disk {
  align-items: center;
  float: right;
  display: flex;
  height: 100%;
  position: relative;

  z-index: 2;

  @include breakpoint('md') {
    display: none;
  }
}

.card {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  position: relative;
  transform: translate(0, -25%);
}

.song-queue {
  background-color: var(--color-surface);
  display: flex;
  min-height: 49.5vh;

  flex-direction: column;

  padding: 2.5rem;
  border-radius: 1rem;
  margin-top: -11.2rem;

  position: relative;
  z-index: 3;
  overflow: overlay;

  &__title {
    @include font-headline('xs');
    padding-bottom: 2rem;
  }
}

.curr-song {
  @include absCenter;
  border-radius: 50%;
  border-color: #ca6b4f;
  border-width: 3px;
  border-style: solid;
  width: 28.75vh;
  height: 28.75vh;
  object-fit: cover;
  animation: diskPlaying 2s linear infinite paused;
}

::-webkit-scrollbar {
  width: 1vh;
  background: var(--color-surface);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 1vh;
}

::-webkit-scrollbar-thumb {
  background: #818181;
  border-radius: 1vh;
  width: 1vh;
}

::-webkit-scrollbar-thumb:hover {
  background: #8f8f8f;
}

@media (max-width: 768px) {
  .disk {
    display: flex;
    width: 8vh;
    height: 8vh;
    margin-right: 10rem;
    margin-top: 5rem;
  }

  .card {
    transform: translate(0, 0);
    width: 90%;
  }

  .song-queue {
    padding: 1.5rem;
    margin-top: -3rem;
  }

  .curr-song {
    width: 20vh;
    height: 20vh;
  }
}

@media (max-width: 480px) {
  .card {
    width: 90%;
  }

  .song-queue {
    padding: 1rem;
    margin-top: -3rem;
  }

  .curr-song {
    width: 15vh;
    height: 15vh;
  }
}

.diskSpin {
  animation-play-state: running;
}


@keyframes diskPlaying {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.tester{
  color: red
}