.disk {
  align-items: center;
  float: right;
  display: flex;
  height: 100%;
  position: relative;

  z-index: 2;
}

.card {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  position: relative;
  transform: translate(0, -25%);
}

.song-desc {
  margin: 2vh 0 3vh 0;
}

.song-title {
  @include font-display('xs');
  padding-bottom: 1.5rem;
}

.song-queue {
  background-color: var(--color-surface);
  display: flex;
  min-height: 49.5vh;

  flex-direction: column;

  padding: 2.5rem;
  border-radius: 1rem;
  margin-top: -11.2rem;

  position: relative;
  z-index: 3;
  overflow: overlay;

  &__title {
    @include font-headline('xs');
  }
}

.curr-song {
  @include absCenter;
  border-radius: 50%;
  border-color: #ca6b4f;
  border-width: 3px;
  border-style: solid;
  width: 28vh;
}

::-webkit-scrollbar {
  width: 1vh;
  background: var(--color-surface);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 1vh;
}

::-webkit-scrollbar-thumb {
  background: #818181;
  border-radius: 1vh;
  width: 1vh;
}

::-webkit-scrollbar-thumb:hover {
  background: #8f8f8f;
}
