@import 'src/styles/main';

.navbar {
  $nav-width: var(--sidebar-width);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-width: $nav-width;
  position: fixed;
  height: 100vh;


  &__inner {
    background-color: var(--color-surface-accent);
    color: var(--color-surface-accent-on);
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: var(--dashboard-gutter);
    height: 100%;
    border-radius: 20px;
  }

  &__row:has(.switch) {
    display: flex;
    justify-content: center;
  }

  &__logobox {
    &__item {
      display: flex;
      align-items: center; /* Aligns icon and text vertically in the center */
      gap: 8px; /* Adds space */
    }
    &__text {
      display: flex;
      flex-direction: column;
      align-items: center; /* Aligns icon and text vertically in the center */
      gap: 2px; /* Adds space */
    }
    &__title {
      color: #FFF;
      font-family: Chango;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.26px;
    }
    &__subtitle {
      color: #FFF;

      font-family: Poppins;
      font-size: 10px;
      font-style: normal;
      font-weight: 300;
      line-height: 9px; /* 90% */
      letter-spacing: 0.7px;
    }
  }

  &__nav {
    margin: 6rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__list {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      list-style: none;

      &__item{
        font-family: Poppins;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 19px; /* 111.765% */
        letter-spacing: 0.17px;
      }
    }
    &__item {
      @include font-label('md', 400);
      $icon-size: 1.7rem;

      display: flex;
      align-items: center; /* Aligns icon and text vertically in the center */
      gap: 8px; /* Adds space between HomeIcon and NavItem */

      a {
        display: flex;
        align-items: center;
        gap: 3px;
        padding: 0.8rem 0.5rem;
        border-radius: 5px;

        $transition: 0.1s ease-in-out;
        transition:
          background-color $transition,
          color $transition;

        &,
        &:link,
        &:visited {
          color: inherit;
          line-height: $icon-size;
        }

        &.active {
          @include color-role('surface-accent-bright');
        }
      }

      &__icon {
        width: 2.5rem;
        height: $icon-size;

        svg {
          width: $icon-size;
          height: $icon-size;
        }
      }
    }
  }
  &__dropdown {
    position: relative;
    display: inline-block;
    align-items: flex-end;

    &__button {
      background-color: var(--color-surface-accent);
      color: var(--color-surface-accent-on);
      padding: 10px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }
      &__content {
      display: none; /* Hidden by default */
      position: relative;
      background-color: var(--color-surface-accent);
      min-width: 160px;
      z-index: 1;
      border-radius: 5px;
      top: 100%;
      left: 0%;
      font-size:small;
      font-family: Poppins;
     a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        &:hover {
          background-color: #204246;
        }
      }
    }
    &__content {
      display: block;
    }
  }
}


.switch {
  position: relative;
  display: inline-block;
  width: 7rem;
  height: 3rem;

  & input {
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  & .slider {
    $padding: 2px;
    $transition: 0.3s;

    pointer-events: none;

    position: absolute;
    display: flex;
    align-items: center;
    padding: $padding;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @include color-role('surface-container');
    border-radius: 5rem;
    border: 1px solid var(--color-outline-variant);

    &__toggle {
      position: absolute;
      content: '';
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(100% - #{$padding});

      aspect-ratio: 1;
      max-width: 50%;
      -webkit-transition: $transition;
      transition: $transition;

      border-radius: 5rem;
    }
  }

  & input:not([value='checked']) + .slider {
    & .slider__toggle {
      left: 100%;
      transform: translateX(-100%);
    }
  }
  & input[value='checked'] + .slider {
    & .slider__toggle {
      left: 0%;
      transform: translateX(0);
    }
  }
}
