

.grey {
    
    
    background-color: grey;

}

.one {
    clip-path: polygon(0 100%, 0 0, 100% 0, 30% 50%);
 }

 .two{
    clip-path:url("#svgPath");
 }

 .body-container{
    margin-left: 5vw;
    min-width: 70vw;
 }

 .title{
    
    padding-top: 5vh;
    margin-left: 70px;
 }

 .containers{
   margin-left: -4rem;
 }