
.navbar { 

    
    position: relative;
    
}

.spliter {
    border-color: black;
    border-style: solid;
    
}

.body-container { 

    border-style: none;
    border-color: red;
    max-width: 130rem;
    margin: 0 auto;
    
    
}

.dashboard-container{

    display: flex;
}



.boundary{
    position: relative;
}

.rows {
    position: relative;
    min-height: 10vh;
}