.member-dashboard {
  --sidebar-width: 31.4rem;
  --dashboard-gutter: 1rem;

  @include color-role('surface-container');
  display: flex;
  min-height: 100vh;

  &__sidebar {
    width: var(--sidebar-width);
  }
  &__main {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
  }
}