$font-fallback:
  system-ui,
  -apple-system,
  Arial,
  Helvetica,
  sans-serif;

/**
Structure:
font-definitions: Main config
  font-role (ex: display): defines a group of styles for font role
    family: font family for role
    weights: font weights offered for all sizes in role group
    default-weight: when role is used without specifying weight
    default-properties: common between all weights and sizes
    
    sizes: groups properties for different sizes
      size: defines properties for size, like display-lg
        breakpoint-size: defines overrides to use for different breakpoint sizes
        
Size tokens (for roles and breakpoints):
- xl  
- lg
- md
- sm
- xs
**/

$font-definitions: (
  display: (
    family: 'Chango',
    weights: (
      400,
    ),
    default-weight: 400,
    default-properties: (
      letter-spacing: 0.135rem,
    ),
    sizes: (
      xl: (
        font-size: 8rem,
        line-height: 8.4rem,
      ),
      lg: (
        font-size: 6rem,
        line-height: 6.4rem,
      ),
      md: (
        font-size: 4.5rem,
        line-height: 4.7rem,
      ),
      sm: (
        font-size: 3.5rem,
        line-height: 3.7rem,
      ),
      xs: (
        font-size: 2.2rem,
        line-height: 2.8rem,
      ),
    ),
  ),
  headline: (
    family: 'Termina',
    weights: (
      600,
      700,
      500,
      900,
      300,
    ),
    default-weight: 600,
    default-properties: (
      letter-spacing: 0.105rem,
    ),
    sizes: (
      lg: (
        font-size: 3.5rem,
        line-height: 3.8rem,
      ),
      md: (
        font-size: 2.8rem,
        line-height: 3.1rem,

        breakpoint-sm: (
          font-size: 2.5rem,
        ),
      ),
      sm: (
        font-size: 2.2rem,
        line-height: 2.5rem,
      ),
      xs: (
        font-size: 1.7rem,
        line-height: 2.7rem,
      ),
    ),
  ),
  title: (
    family: 'Poppins',
    weights: (
      600,
      700,
      400,
      300,
    ),
    default-weight: 600,
    default-properties: (
      letter-spacing: 0.072rem,
    ),
    sizes: (
      lg: (
        font-size: 2.4rem,
        line-height: 2.6rem,
      ),
      md: (
        font-size: 1.5rem,
        line-height: 2rem,
      ),
      sm: (
        font-size: 1.2rem,
        line-height: 1.5rem,
      ),
    ),
  ),
  label: (
    family: 'Poppins',
    weights: (
      500,
      400,
      600,
      300,
    ),
    default-weight: 500,
    default-properties: (
      letter-spacing: 0.08rem,
    ),
    sizes: (
      lg: (
        font-size: 1.7rem,
        line-height: 1.9rem,
      ),
      md: (
        font-size: 1.4rem,
        line-height: 1.6rem,
      ),
      sm: (
        font-size: 1.2rem,
        line-height: 1.4rem,
      ),
      xs: (
        font-size: 1rem,
        line-height: 1.1rem,
      ),
    ),
  ),
  body: (
    family: 'Poppins',
    weights: (
      400,
      500,
      600,
      300,
    ),
    default-weight: 400,
    default-properties: (
      letter-spacing: 0.34px,
    ),
    sizes: (
      lg: (
        font-size: 1.8rem,
        line-height: 1.9rem,
      ),
      md: (
        font-size: 1.4rem,
        line-height: 1.6rem,
      ),
      sm: (
        font-size: 1.2rem,
        line-height: 1.1rem,
      ),
    ),
  ),
);
