@use 'sass:map';
@use 'sass:list';

:root {
  // Define tonal palettes
  @each $color-label, $color-codes in $tonal-swatches {
    @each $number, $color in $color-codes {
      $tonal-color-name: tonalColorCode($color-label, $number);

      #{$tonal-color-name}: $color;
    }
  }

  // Define theme colors
  @each $color-group, $modes in $theme-colors {
    @each $mode, $color-variants in $modes {
      @each $color-variant, $palette-code in $color-variants {
        $theme-color: themeColorName($color-group, $color-variant, $mode);
        $palette-color-props: paletteCodeToColorValue($palette-code);
        $palette-color: list.nth($palette-color-props, 1);
        $color-value-type: list.nth($palette-color-props, 2);

        @if $color-value-type == 'var' {
          #{$theme-color}: var($palette-color);
        } @else {
          #{$theme-color}: $palette-color;
        }
      }
    }
  }
}

@mixin color-role($color-group) {
  $default-variant: themeColorName($color-group);

  color: var(#{$default-variant}-on);
  background-color: var(#{$default-variant});
}

// .theme {
// Define default theme values
@each $theme-mode in $theme-modes {
  html[data-theme-mode='#{$theme-mode}'] .theme {
    @each $color-group, $modes in $theme-colors {
      $color-variants: map.get($modes, $theme-mode);

      // Color classes
      $default-variant: themeColorName($color-group);
      .color-text-role-#{$color-group} {
        color: var(#{$default-variant});
      }

      .color-role-#{$color-group} {
        @include color-role($color-group);
        // color: var(#{$default-variant}-on);
        // background-color: var(#{$default-variant});
      }

      // Color variables
      @each $color-variant, $palette-code in $color-variants {
        $default-theme-color: themeColorName($color-group, $color-variant);
        $theme-mode-color: themeColorName(
          $color-group,
          $color-variant,
          $theme-mode
        );

        #{$default-theme-color}: var(#{$theme-mode-color});
      }
    }
  }
}
// }
