$theme-swatches: (
  primary: (
    light: (
      color: 'p55',
      on: 'p100',
    ),
    dark: (
      color: 'p60',
      on: 'p100',
    ),
  ),
  secondary: (
    light: (
      color: 's55',
      on: 's100',
    ),
    dark: (
      color: 's60',
      on: 's100',
    ),
  ),
  error: (
    light: (
      color: 'e55',
      on: 'e100',
    ),
    dark: (
      color: 'e60',
      on: 'e100',
    ),
  ),
  caution: (
    light: (
      color: 'c55',
      on: 'c100',
    ),
    dark: (
      color: 'c50',
      on: 'c100',
    ),
  ),
  good: (
    light: (
      color: 'g55',
      on: 'g100',
    ),
    dark: (
      color: 'g55',
      on: 'g100',
    ),
  ),
  primary-contrast: (
    light: (
      color: 'p40',
      on: 'p100',
    ),
    dark: (
      color: 'p80',
      on: 'p10',
    ),
  ),
  secondary-contrast: (
    light: (
      color: 's15',
      on: 's100',
    ),
    dark: (
      color: 's80',
      on: 's10',
    ),
  ),
  error-contrast: (
    light: (
      color: 'e40',
      on: 'e100',
    ),
    dark: (
      color: 'e80',
      on: 'e20',
    ),
  ),
  caution-contrast: (
    light: (
      color: 'c30',
      on: 'c100',
    ),
    dark: (
      color: 'c90',
      on: 'c20',
    ),
  ),
  good-contrast: (
    light: (
      color: 'g30',
      on: 'g100',
    ),
    dark: (
      color: 'g80',
      on: 'g15',
    ),
  ),
  primary-container: (
    light: (
      color: 'p90',
      on: 'p10',
    ),
    dark: (
      color: 'pv20',
      on: 'p90',
    ),
  ),
  secondary-container: (
    light: (
      color: 's90',
      on: 's10',
    ),
    dark: (
      color: 's15',
      on: 's90',
    ),
  ),
  error-container: (
    light: (
      color: 'e95',
      on: 'e20',
    ),
    dark: (
      color: 'e30',
      on: 'e95',
    ),
  ),
  caution-container: (
    light: (
      color: 'c85',
      on: 'c10',
    ),
    dark: (
      color: 'c25',
      on: 'c95',
    ),
  ),
  good-container: (
    light: (
      color: 'g90',
      on: 'g20',
    ),
    dark: (
      color: 'g30',
      on: 'g95',
    ),
  ),
  surface: (
    light: (
      color: 'n100',
      on: 'n10',
    ),
    dark: (
      color: 'n13',
      on: 'n95',
    ),
  ),
  surface-container: (
    light: (
      color: 'n97',
      on: 'n10',
    ),
    dark: (
      color: 'n10',
      on: 'n95',
    ),
  ),
  inverse-surface: (
    light: (
      color: 'p20',
      on: 'n95',
    ),
    dark: (
      color: 'p80',
      on: 'n10',
    ),
  ),
  container: (
    light: (
      color: 'n90',
      on: 'n10',
    ),
    dark: (
      color: 'n80',
      on: 'n10',
    ),
  ),
  outline: (
    light: (
      color: 'n50',
      on: 'n95',
    ),
    dark: (
      color: 'n70',
      on: 'n30',
    ),
  ),
  outline-variant: (
    light: (
      color: 'n90',
      on: 'n20',
    ),
    dark: (
      color: 'n30',
      on: 'n95',
    ),
  ),
  label: (
    light: (
      color: 'n50',
      on: 'n100',
    ),
    dark: (
      color: 'n70',
      on: 'n30',
    ),
  ),
  disabled: (
    light: (
      color: 'n70',
      on: 'n100',
    ),
    dark: (
      color: 'n30',
      on: 'n70',
    ),
  ),
  disabled-container: (
    light: (
      color: 'n90',
      on: 'n60',
    ),
    dark: (
      color: 'n30',
      on: 'n70',
    ),
  ),
);