@use 'sass:string';
@use 'sass:list';
@use 'sass:map';

$palettes-token: 'tonal';


$tonal-swatches: (
  c: (
		0: rgb(0%, 0%, 0%),
		5: rgb(8.0%, 4.0%, 2.0%),
		10: rgb(15.0%, 7.0%, 5.0%),
		15: rgb(23.0%, 11.0%, 7.0%),
		20: rgb(31.0%, 14.0%, 9.0%),
		30: rgb(46.0%, 21.0%, 14.0%),
		40: rgb(61.0%, 28.0%, 19.0%),
		50: rgb(77.0%, 35.0%, 23.0%),
		55: rgb(79.0%, 42.0%, 31.0%),
		60: rgb(81.0%, 48.0%, 39.0%),
		70: rgb(86.0%, 61.0%, 54.0%),
		80: rgb(91.0%, 74.0%, 69.0%),
		90: rgb(95.0%, 87.0%, 85.0%),
		95: rgb(98.0%, 94.0%, 92.0%),
		100: rgb(100%, 100%, 100%),
	),
	t: (
		0: rgb(0%, 0%, 0%),
		5: rgb(3.0%, 6.0%, 7.0%),
		10: rgb(6.0%, 13.0%, 14.0%),
		15: rgb(9.0%, 19.0%, 21.0%),
		20: rgb(13.0%, 26.0%, 27.0%),
		25: rgb(16.0%, 32.0%, 34.0%),
		30: rgb(19.0%, 39.0%, 41.0%),
		40: rgb(25.0%, 52.0%, 55.0%),
		45: rgb(28.0%, 58.0%, 62.0%),
		50: rgb(32.0%, 65.0%, 68.0%),
		55: rgb(38.0%, 68.0%, 72.0%),
		60: rgb(45.0%, 72.0%, 75.0%),
		70: rgb(59.0%, 79.0%, 81.0%),
		80: rgb(73.0%, 86.0%, 87.0%),
		90: rgb(86.0%, 93.0%, 94.0%),
		95: rgb(93.0%, 96.0%, 97.0%),
		100: rgb(100%, 100%, 100%),
	),
	l: (
		0: rgb(0%, 0%, 0%),
		5: rgb(8.0%, 8.0%, 2.0%),
		10: rgb(17.0%, 16.0%, 3.0%),
		15: rgb(25.0%, 23.0%, 5.0%),
		20: rgb(34.0%, 31.0%, 6.0%),
		25: rgb(42.0%, 39.0%, 8.0%),
		30: rgb(51.0%, 47.0%, 9.0%),
		40: rgb(68.0%, 62.0%, 12.0%),
		45: rgb(76.0%, 70.0%, 14.0%),
		50: rgb(85.0%, 78.0%, 15.0%),
		55: rgb(86.0%, 80.0%, 24.0%),
		60: rgb(88.0%, 82.0%, 32.0%),
		70: rgb(91.0%, 87.0%, 49.0%),
		80: rgb(94.0%, 91.0%, 66.0%),
		90: rgb(97.0%, 96.0%, 83.0%),
		95: rgb(98.0%, 98.0%, 92.0%),
		100: rgb(100%, 100%, 100%),
	),
  
  
	r: (
		0: rgb(0%, 0%, 0%),
		5: rgb(9.0%, 2.0%, 1.0%),
		10: rgb(17.0%, 4.0%, 3.0%),
		20: rgb(34.0%, 7.0%, 6.0%),
		30: rgb(51.0%, 11.0%, 9.0%),
		40: rgb(69.0%, 15.0%, 11.0%),
		45: hsl(4, 73%, 45%),
		50: rgb(86.0%, 18.0%, 14.0%),
		55: rgb(87.0%, 26.0%, 23.0%),
		60: rgb(89.0%, 35.0%, 31.0%),
		70: rgb(91.0%, 51.0%, 49.0%),
		80: rgb(94.0%, 67.0%, 66.0%),
		90: rgb(97.0%, 84.0%, 83.0%),
		95: rgb(99.0%, 92.0%, 91.0%),
		100: rgb(100%, 100%, 100%),
	),
  y: (
		0: rgb(0%, 0%, 0%),
		5: rgb(10.0%, 7.0%, 0%),
		10: rgb(20.0%, 14.0%, 0%),
		15: rgb(30.0%, 21.0%, 0%),
		20: rgb(40.0%, 28.0%, 0%),
		25: rgb(56.0%, 39.0%, 0%),
		30: rgb(60.0%, 42.0%, 0%),
		40: rgb(80.0%, 56.0%, 0%),
		50: rgb(100%, 70.0%, 0%),
		55: rgb(100%, 73.0%, 10.0%),
		60: rgb(100%, 76.0%, 20.0%),
		70: rgb(100%, 82.0%, 40.0%),
		80: rgb(100%, 88.0%, 60.0%),
		85: rgb(100%, 91.0%, 70.0%),
		90: rgb(100%, 94.0%, 80.0%),
		95: rgb(100%, 97.0%, 90.0%),
		100: rgb(100%, 100%, 100%),
	),
	g: (
		0: rgb(0%, 0%, 0%),
		5: rgb(2.0%, 8.0%, 4.0%),
		10: rgb(3.0%, 17.0%, 9.0%),
		15: rgb(5.0%, 25.0%, 13.0%),
		20: rgb(6.0%, 34.0%, 17.0%),
		30: rgb(9.0%, 51.0%, 26.0%),
		40: rgb(12.0%, 68.0%, 34.0%),
		45: rgb(14.0%, 76.0%, 39.0%),
		50: rgb(15.0%, 85.0%, 43.0%),
		55: rgb(24.0%, 86.0%, 49.0%),
		60: rgb(32.0%, 88.0%, 54.0%),
		70: rgb(49.0%, 91.0%, 66.0%),
		80: rgb(66.0%, 94.0%, 77.0%),
		90: rgb(83.0%, 97.0%, 89.0%),
		95: rgb(92.0%, 98.0%, 94.0%),
		100: rgb(100%, 100%, 100%),
	),
	n: (
		0: rgb(0%, 0%, 0%),
		5: rgb(5.0%, 5.0%, 5.0%),
		10: rgb(10.0%, 10.0%, 10.0%),
		13: rgb(14.0%, 13.0%, 12.0%),
		15: rgb(16.0%, 15.0%, 14.0%),
		20: rgb(21.0%, 20.0%, 19.0%),
		30: rgb(31.0%, 29.0%, 29.0%),
		40: rgb(42.0%, 39.0%, 38.0%),
		50: rgb(52.0%, 49.0%, 48.0%),
		55: rgb(57.0%, 54.0%, 53.0%),
		60: rgb(62.0%, 59.0%, 58.0%),
		70: rgb(71.0%, 69.0%, 69.0%),
		80: rgb(81.0%, 80.0%, 79.0%),
		85: rgb(86.0%, 85.0%, 84.0%),
		90: rgb(90.0%, 90.0%, 90.0%),
		95: rgb(95.0%, 95.0%, 95.0%),
		97: rgb(97.0%, 97.0%, 97.0%),
		100: rgb(100%, 100%, 100%),
	),
	
);
