@use 'sass:string';
@use 'sass:list';
@use 'sass:map';

$palettes-token: 'tonal';

$tonal-swatches: (
  c: (
    0: rgb(0%, 0%, 0%),
    5: rgb(8%, 4%, 2%),
    10: rgb(15%, 7%, 5%),
    15: rgb(23%, 11%, 7%),
    20: rgb(31%, 14%, 9%),
    30: rgb(46%, 21%, 14%),
    40: rgb(61%, 28%, 19%),
    50: rgb(77%, 35%, 23%),
    55: rgb(79%, 42%, 31%),
    60: rgb(81%, 48%, 39%),
    70: rgb(86%, 61%, 54%),
    80: rgb(91%, 74%, 69%),
    90: rgb(95%, 87%, 85%),
    95: rgb(98%, 94%, 92%),
    100: rgb(100%, 100%, 100%),
  ),
  t: (
    0: rgb(0%, 0%, 0%),
    5: rgb(3%, 6%, 7%),
    10: rgb(6%, 13%, 14%),
    15: rgb(9%, 19%, 21%),
    20: rgb(13%, 26%, 27%),
    25: rgb(16%, 32%, 34%),
    30: rgb(19%, 39%, 41%),
    40: rgb(25%, 52%, 55%),
    45: rgb(28%, 58%, 62%),
    50: rgb(32%, 65%, 68%),
    55: rgb(38%, 68%, 72%),
    60: rgb(45%, 72%, 75%),
    70: rgb(59%, 79%, 81%),
    80: rgb(73%, 86%, 87%),
    90: rgb(86%, 93%, 94%),
    95: rgb(93%, 96%, 97%),
    100: rgb(100%, 100%, 100%),
  ),
  l: (
    0: rgb(0%, 0%, 0%),
    5: rgb(8%, 8%, 2%),
    10: rgb(17%, 16%, 3%),
    15: rgb(25%, 23%, 5%),
    20: rgb(34%, 31%, 6%),
    25: rgb(42%, 39%, 8%),
    30: rgb(51%, 47%, 9%),
    40: rgb(68%, 62%, 12%),
    45: rgb(76%, 70%, 14%),
    50: rgb(85%, 78%, 15%),
    55: rgb(86%, 80%, 24%),
    60: rgb(88%, 82%, 32%),
    70: rgb(91%, 87%, 49%),
    80: rgb(94%, 91%, 66%),
    90: rgb(97%, 96%, 83%),
    95: rgb(98%, 98%, 92%),
    100: rgb(100%, 100%, 100%),
  ),

  r: (
    0: rgb(0%, 0%, 0%),
    5: rgb(9%, 2%, 1%),
    10: rgb(17%, 4%, 3%),
    20: rgb(34%, 7%, 6%),
    30: rgb(51%, 11%, 9%),
    40: rgb(69%, 15%, 11%),
    45: hsl(4, 73%, 45%),
    50: rgb(86%, 18%, 14%),
    55: rgb(87%, 26%, 23%),
    60: rgb(89%, 35%, 31%),
    70: rgb(91%, 51%, 49%),
    80: rgb(94%, 67%, 66%),
    90: rgb(97%, 84%, 83%),
    95: rgb(99%, 92%, 91%),
    100: rgb(100%, 100%, 100%),
  ),
  y: (
    0: rgb(0%, 0%, 0%),
    5: rgb(10%, 7%, 0%),
    10: rgb(20%, 14%, 0%),
    15: rgb(30%, 21%, 0%),
    20: rgb(40%, 28%, 0%),
    25: rgb(56%, 39%, 0%),
    30: rgb(60%, 42%, 0%),
    40: rgb(80%, 56%, 0%),
    50: rgb(100%, 70%, 0%),
    55: rgb(100%, 73%, 10%),
    60: rgb(100%, 76%, 20%),
    70: rgb(100%, 82%, 40%),
    80: rgb(100%, 88%, 60%),
    85: rgb(100%, 91%, 70%),
    90: rgb(100%, 94%, 80%),
    95: rgb(100%, 97%, 90%),
    100: rgb(100%, 100%, 100%),
  ),
  g: (
    0: rgb(0%, 0%, 0%),
    5: rgb(2%, 8%, 4%),
    10: rgb(3%, 17%, 9%),
    15: rgb(5%, 25%, 13%),
    20: rgb(6%, 34%, 17%),
    30: rgb(9%, 51%, 26%),
    40: rgb(12%, 68%, 34%),
    45: rgb(14%, 76%, 39%),
    50: rgb(15%, 85%, 43%),
    55: rgb(24%, 86%, 49%),
    60: rgb(32%, 88%, 54%),
    70: rgb(49%, 91%, 66%),
    80: rgb(66%, 94%, 77%),
    90: rgb(83%, 97%, 89%),
    95: rgb(92%, 98%, 94%),
    100: rgb(100%, 100%, 100%),
  ),
  n: (
    0: rgb(0%, 0%, 0%),
    5: rgb(5%, 5%, 5%),
    10: rgb(10%, 10%, 10%),
    13: rgb(14%, 13%, 12%),
    15: rgb(16%, 15%, 14%),
    20: rgb(21%, 20%, 19%),
    30: rgb(31%, 29%, 29%),
    40: rgb(42%, 39%, 38%),
    50: rgb(52%, 49%, 48%),
    55: rgb(57%, 54%, 53%),
    60: rgb(62%, 59%, 58%),
    70: rgb(71%, 69%, 69%),
    80: rgb(81%, 80%, 79%),
    85: rgb(86%, 85%, 84%),
    90: rgb(90%, 90%, 90%),
    95: rgb(95%, 95%, 95%),
    97: rgb(97%, 97%, 97%),
    100: rgb(100%, 100%, 100%),
  ),
);
