.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  max-width: 100dvw;
  padding: clamp(6rem, 10svh, 12rem) clamp(2rem, 6vw, 8rem);
  min-height: calc(100dvh - var(--header-height));
}

.features__title {
  font-family: Termina, system-ui, sans-serif;
  font-weight: 600;
  font-size: 3.7rem;
  margin-bottom: 4rem;
  letter-spacing: 1%;
  width: 100%;
}

