/*==============================
  Pixel Values
  ------------
  0-320px:      SMALL PHONE
  321-480px:    LARGE PHONE
  481-768px:    TABLET LANDSCAPE
  769-1024px:   LAPTOP
  1025-1200px:  DESKTOP
  1200px+:      LARGE DESKTOP
  
  Terms
  -----
  Breakpoint: the rem value of the breakpoint
  Breakpoint Label: Token used to identify breakpoint
===============================*/

// Base Breakpoints
$screen-xs: 320px;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1800px;

// Breakpoint labels
$breakpoints: (
  'xs': $screen-xs,
  'sm': $screen-sm,
  'md': $screen-md,
  'lg': $screen-lg,
  'xl': $screen-xl,
);

// Breakpoint roles
$screen-role-nav: $screen-lg;

$breakpoint-roles: (
  'nav': $screen-role-nav,
);

// Utility functions
@function get-breakpoint($label) {
  @return map-get($map: $breakpoints, $key: $label);
}

@mixin media-max($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin media-hide($size) {
  @include media-max($size) {
    display: none;
  }
}

@mixin media-show($size) {
  display: none;

  @include media-max($size) {
    display: inherit;
  }
}

@mixin each-breakpoint {
  @each $bp, $size in $breakpoints {
    @content ($bp, $size);
  }
  @each $bp, $size in $breakpoint-roles {
    @content ($bp, $size);
  }
}

// Stylesheet definitions
:root {
  @each $bp, $size in $breakpoints {
    --screen-#{$bp}: $size;
  }

  @each $role, $size in $breakpoint-roles {
    --screen-role-#{$role}: $size;
  }
}
