@import "./space-grotesk/css/space-grotesk.css";
@import "./poppins/css/poppins.css";

a:link,
a:visited {
  text-decoration: none;
  color: currentColor;
}

h1,
.heading-1 {
  font-family: Termina;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.048rem;
}

h2,
.heading-2 {
  font-family: Termina;
  font-size: 3.7rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.037rem;
}

h3,
.heading-3 {
  font-family: Termina;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h4,
.heading-4 {
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.04rem;
}

p,
.paragraph {
  font-family: 'Poppins';
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem; /* 162.5% */
  letter-spacing: 0.016rem;
}
