@import "./space-grotesk/css/space-grotesk.css";
@import "./poppins/css/poppins.css";
@import "./termina/css/termina.css";
@import "./chango/css/chango.css";

a:link,
a:visited {
  text-decoration: none;
  color: currentColor;
}

h1,
.heading-1 {
  font-family: Termina;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.048rem;
}

h2,
.heading-2 {
  font-family: Termina;
  font-size: 3.7rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.037rem;
}

h3,
.heading-3 {
  font-family: Termina;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h4,
.heading-4 {
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.04rem;
}

p,
.paragraph {
  font-family: "Poppins";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem; /* 162.5% */
  letter-spacing: 0.016rem;
}

hr {
  border: 0;
  height: 1px;
  background: var(--light-sky);
}

.large-accent {
  font-family: Chango;
  font-size: 9rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  color: var(--coral);
}

.large-accent--gradient {
  background: linear-gradient(90deg, var(--cherry) 0%, var(--coral) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.thin-accent {
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2rem;
}

.card-title {
  font-family: Termina;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
